
<link rel="stylesheet" href="/css/style.css" />

<script type="text/javascript" src="/lib/jquery-1.9.1.min.js"></script>

<!-- iconfont -->
<link rel="stylesheet" href="/lib/iconfonts/iconfont.css" />

<!-- 省市区联动 -->
<script type="text/javascript" src="/lib/province/province.js"></script>

<!-- bootstrap3 -->
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- dataTables -->
<link rel="stylesheet" href="/lib/dataTables/css/dataTables.bootstrap.css" />
<script type="text/javascript" src="/lib/dataTables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/lib/dataTables/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/pagination.js"></script>

<!-- zTree -->
<link rel="stylesheet" href="/lib/zTree/css/zTreeStyle/zTreeStyle.css" />
<script type="text/javascript" src="/lib/zTree/jquery.ztree.core.js"></script>
