<!-- 底部 -->
<footer>
	<div class="footer">
	    <div class="footer-bar">
	    	Copyright © 2017-2217 <a href="https://localhost:80/" target="_blank">网站</a>由 张攀 提供.All Rights Reserved
	    	<a href="https://www.baidu.com/" target="_blank">百度</a>
	    	<a href="https://github.com/zpzxcvb/webDemo" target="_blank">Git</a>
	    	<a href="mailto:527517062@qq.com">Email</a>
	    </div>
		<span>
			<i class="iconfont icon-xiaolian"></i>备案号：京ICP备10000号-1
			<input id="color" type="color" name="color" > <input id="choose_color" type="text" value="#000000" readonly="readonly" style="border: 0"/>
		</span>
	   </div>
	   <!-- 左下角按钮 -->
	   <div class="fixed-btn">
		<a class="go-top" href="javascript:window.scroll(0,0);" title="返回顶部"><i class="iconfont icon-top"></i></a>
		<a class="qrcode" href="javascript:;" title="关注我"><i class="iconfont icon-erweima"></i></a>
		<div class="zf-icon">
			<div class="wxzf">
				<img alt="微信支付" src="/img/wxzf.jpg" width="128" height="128">
			</div>
	<!-- 				<div class="zfbzf"> -->
	<!-- 					<img alt="支付宝支付" src="/img/zfbzf.jpg" width="128" height="128"> -->
	<!-- 				</div> -->
		</div>
	</div>
</footer>