<!-- 头部导航 -->
<header>
	<div class="header">
		<div class="top_left">
			<div class="logo">web-demo</div>
		</div>
		<div class="top_right">
			您好,<span id="username"">访客</span>! 现在是<span id="currentTime""></span>
			<a href="/login">登录</a>
			<!-- <div class="mulu">
				<a class="top_mulu" href="javascript:;"><i class="iconfont icon-mulu"></i></a>
				<ul class="mulu_menu">
					<li><a href="/login">登录</a></li>
					<li><a href="javascript:;">注册</a></li>
				</ul>
			</div> -->
		</div>
	</div>
</header>