<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  <mapper namespace="com.zhangpan.dao.StudentDao" >

  <resultMap id="resultMap" type="Student" >
    <result column="sid" property="sid"/>
    <result column="sname" property="sname"/>
    <result column="sex" property="sex1"/>
    <result column="age" property="age"/>
    <result column="grade_id" property="gradeId"/>
  </resultMap>
  
  <insert id="saveStudent" parameterType="Student" >
    insert into student (sid, sname, sex, age) values (#{sid}, #{sname}, #{sex}, #{age})
  </insert>
  
  <insert id="deleteStudent" parameterType="int" >
    delete from student where sid=#{sid}
  </insert>
  
  <insert id="updateStudent" parameterType="Student" >
    update student set sname=#{sname}, sex=#{sex}, age=#{age} where sid=#{sid}
  </insert>
  
  <select id="findAllStudent" resultMap="resultMap">
  	select * from student
  </select>
  
  <select id="findStudentById" parameterType="int" resultType="Student">
  	select * from student where sid=#{sid}
  </select>
  
  

</mapper>