<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpan.dao.SysDictDao" >
  <resultMap id="sysDictResultMap" type="SysDictType" >
    <id column="id" property="id" />
    <result column="dict_Value" property="dictValue" />
    <result column="dict_Name" property="dictName" />
    <!-- <collection property="sysDictItems" javaType="list" ofType="SysDictItem">
    	<id column="id" property="id" />
	    <result column="dict_Value" property="dictValue" />
	    <result column="dict_Name" property="dictName" />
	    <result column="dict_type" property="dictType" />
	    <result column="order_No" property="orderNo" />
    </collection> -->
  </resultMap>
  
  <insert id="save" parameterType="SysDictType" >  
    insert into sys_dict_type ( dict_Value,dict_Name )  
    	values (
    		#{dictValue}, #{dictName}  
      	)  
  </insert>
  
  <delete id="deleteById" parameterType="int">
  	delete from sys_dict_type where id=#{id}
  </delete>
  
  <select id="findAll" resultMap="sysDictResultMap">
  	select * from sys_dict_type
  </select>
  
</mapper>