<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
             
    
<!--     <context:component-scan base-package="*" /> -->
    
    <context:property-placeholder location="classpath:db.properties"/>
    
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">  
       <property name="user" value="${jdbc.user}"></property>  
       <property name="password" value="${jdbc.password}"></property>  
       <property name="driverClass" value="${jdbc.driverClass}"></property>  
       <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>  
       <property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>  
       <property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>  
   </bean>      
   
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>  
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>  
			</props>
		</property>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<!-- 配置hibernate映射文件的路径，可以使用通配符 -->  
<!--        	<property name="mappingLocations" value="classpath:com/zhangpan/ssh/model/mapper/*.hbm.xml"></property> -->
		<property name="mappingDirectoryLocations" value="classpath:com/zhangpan/ssh/model/mapper"></property>
	</bean>	
	
	<!-- 配置事务管理器--> 	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
    
    <!-- 配置事务特性-->       
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    	<tx:attributes>
    		<tx:method name="add*" propagation="REQUIRED"/>
    		<tx:method name="save*" propagation="REQUIRED"/>
    		<tx:method name="del*" propagation="REQUIRED"/>
    		<tx:method name="update*" propagation="REQUIRED"/>
    		<tx:method name="process*" propagation="REQUIRED"/>
    		<tx:method name="*" read-only="true"/>
    	</tx:attributes>
    </tx:advice>
     
    <!-- 配置那些类的方法进行事务管理-->
    <aop:config>
    	<aop:pointcut id="txPointcut" expression="execution(* com.zhangpan.ssh.service..*.*(..))"/>
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
    </aop:config>            
     
    
    <!-- <bean name="loginAction" class="com.zhangpan.ssh.action.LoginAction">
    	<property name="gradeService" ref="gradeService"></property>
    </bean>
    <bean name="gradeService" class="com.zhangpan.ssh.service.GradeService">
    	<property name="gradeDao" ref="gradeDao"></property>
    </bean>
    <bean name="gradeDao" class="com.zhangpan.ssh.dao.impl.GradeDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean> -->
</beans>



