<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL MAP Config 3.1//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 查询字段为空值时也显示出来 -->
	<settings>
		<!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
		<setting name="useGeneratedKeys" value="true"/>
		
		<!-- 允许使用列标签代替列名 -->
		<setting name="useColumnLabel" value="true"/>
		
		<setting name="callSettersOnNulls" value="true"/>
		<!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 自动扫描需要定义类别名的包，将包内的JAVA类的类名作为类别名 -->
	<typeAliases>
		<package name="com.zhangpan.model"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
<!-- 			<property name="dialect" value="mysql"/> -->
			
		</plugin>
	</plugins>
</configuration>