<!DOCTYPE html>
<html>
<head>
	<title>菜单信息</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	<link rel="stylesheet" href="/js/lib/zTree/css/zTreeStyle/zTreeStyle.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.core.js"></script>
</head>
<body>
	<div>
		<form class="layui-form">
			<input id="id" type="hidden" name="id" value="${(menu.id)!''}"/>
			<div class="layui-form-item">
				<label class="layui-form-label">父级目录</label>
				<div class="layui-input-inline">
					<input id="pid" type="hidden" name="pid" value="${(menu.pid)!''}"/>
					<input id="parent_name" type="text" readonly class="layui-input" placeholder="请选择父菜单"/>
					<div id="menu_div" style="display: none;">
						<ul id="menuTree" class="ztree"></ul>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">菜单名称</label>
				<div class="layui-input-inline">
					<input type="text" name="menuName" class="layui-input" placeholder="请输入菜单名称" value="${(menu.menuName)!''}"/>
				</div>
			</div>
			<div id="div_url" class="layui-form-item">
				<label class="layui-form-label">菜单链接</label>
				<div class="layui-input-inline">
					<input type="text" id="url" name="url" class="layui-input" placeholder="请输入菜单连接地址" value="${(menu.url)!''}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">描述</label>
				<div class="layui-input-inline">
					<input type="text" name="description" class="layui-input" placeholder="请输入菜单描述" value="${(menu.description)!''}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">排序</label>
				<div class="layui-input-inline">
					<input type="number" name="orderNo" class="layui-input" placeholder="请输入菜单连接地址" value="${(menu.orderNo)!''}"/>
				</div>
			</div>
			<button class="layui-btn layui-hide" lay-submit lay-filter="form-submit">提交</button>
		</form>
	</div>

	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		layui.use(['form'], function() {
			var form = layui.form;
			var id = "${(menu.id)!''}";
			var url="/sys/menu/save";
			if(id != ""){
				url = "/sys/menu/update";
			}
			//表单提交
			formSubmit(form, url, 'form-submit');
			$("#parent_name").click(function(){
				//初始化tree(非异步)
				initTree({
					id: "menuTree",
					async: false,
					check: true,
					url: "/sys/menu/menuList"
				});
				$("#menu_div").show();
			});
		});
		
		function zTreeClick(event, treeId, treeNode) {
			$("#parent_name").val(treeNode.name);
			$("#pid").val(treeNode.id);
			$("#menu_div").hide();
			//根目录禁用url连接
			if(treeNode.id == 1){
				$("#div_url").hide();
			}else{
				$("#div_url").show();
			}
		}
	</script>
</body>
</html>