<!DOCTYPE html>
<html>
<head>
	<title>用户信息</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
</head>
<body>
	<div>
		<form class="layui-form layui-form-pane">
			<input id="id" type="hidden" name="userId" value="${(user.userId)!''}"/>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-inline">
					<input type="text" id="userName" name="userName" class="layui-input" placeholder="请输入用户名称" value="${(user.userName)!''}" autocomplete="off"/>
				</div>
			</div>
			<div id="password_div" class="layui-form-item">
				<label class="layui-form-label">密码</label>
				<div class="layui-input-inline">
					<input type="password" id="password" name="password" class="layui-input" placeholder="请输入密码" value="${(user.password)!''}" autocomplete="new-password"/>
				</div>
			</div>
			<div class="layui-form-item" pane>
				<label class="layui-form-label">启用</label>
				<div class="layui-input-inline">
					<input type="radio" name="status" value="1" title="可用" checked /> 
					<input type="radio" name="status" value="0" title="禁用" />
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<a id="postBtn" class="layui-btn">保存</a>
					<a class="layui-btn layui-btn-primary" onclick="closeDialog()">取消</a>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		layui.use('form', function() {
			var form = layui.form;
		});
		$(function() {
			var id = "${(user.userId)!''}";
			if(id != ""){
				var url = "/user/update";
				var status = "${(user.status)!''}";
				$("#userName").attr("disabled",true);
				$("#password").attr("disabled",true);
				$("input[name='status'][value='"+status+"']").attr("checked",true);
				formSubmit(url);
			}
		})
		function formSubmit(url){
			$("#postBtn").click(function(){
				var param = $("form").serialize();
				$.ajax({
					url: url,
					type: "post",
					data: param,
					success: function(data){
						if(data.status == "ok"){
							parent.layer.msg("操作成功",{icon:1});
						}else{
							parent.layer.msg("操作失败",{icon:0});
						}
						//关闭页面
						closeDialog();
					}
				})
			})
		}
	</script>
</body>
</html>