<!DOCTYPE html>
<html>
<head>
	<title>用户信息列表</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	<link rel="stylesheet" href="/js/lib/zTree/css/zTreeStyle/zTreeStyle.css">
	
	<script src="/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.core.js"></script>
</head>
<body style="padding: 15px">
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md9">
			<div class="layui-card">
				<div class="layui-card-header">
					<div class="layui-inline table-search">
						<div class="layui-input-inline">
							<input class="layui-input" id="key" type="search" placeholder="请输入名称">
						</div>
						<a id="searchModel" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i> 查询</a>
					</div>
				</div>
				<div class="layui-card-body">
					<div class="">
						<a id="addModel" class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>添加</a>
						<a id="deleteModel" class="layui-btn layui-btn-danger"><i class="layui-icon layui-icon-delete"></i>批量删除</a>
					</div>
					<table id="table" lay-filter="table_event"></table>
				</div>
			</div>
		</div>
		<div class="layui-col-md3">
			<div class="layui-card">
				<div class="layui-card-header">【<span id="user_name"></span>】用户所属权限</div>
				<div class="layui-card-body">
					<ul id="menuTree" class="ztree"></ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/myjs.js"></script>
	<script type="text/html" id="statusTpl">
		<input type='checkbox' name='status' lay-skin='switch' lay-text='启用|禁用' lay-filter='status' {{ d.status == 1 ? 'checked' : '' }} value='{{d.user_id}}'>
	</script>
	<script type="text/html" id="rowbarTpl">
		<a title="编辑" class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
		<a title="分配角色" class="layui-btn layui-btn-xs" lay-event="grantRole"><i class="layui-icon layui-icon-auz"></i></a>
	</script>
	<script>
	var table,tableIns,tableId='table';
	function initTable(table){
		var params = {
			 id: "#table",
			 url: "/sys/user/pageList",
			 columns: [
		    	{type: 'checkbox', fixed: 'left'},
		      	{type: 'numbers', title: '序号', fixed: 'left'},
		      	{field: 'user_name', title: '用户名'},
		      	{field: 'role_name', title: '所属角色'},
		      	{field: 'status', title: '状态', width: 100, fixed: 'right', sort: true, templet: '#statusTpl'},
		      	{fixed: 'right', title:'操作', fixed: 'right', toolbar: '#rowbarTpl'}
		    ]
		};
		tableIns = table_layui(table, params);
	}
	layui.use(['table'], function(){
		form = layui.form;
		table = layui.table;
		//初始化table
		initTable(table);
		//监听按钮事件
		initFunction();
		//监听单击行事件
		  table.on('row(table_event)', function(obj){
			  $("#user_name").text(obj.data.user_name);
			  active.loadUserPermission(obj.data.user_id);
		  });
		  //监听指定开关
		  switchStatusForUpdate(form, 'status', "/sys/user/changeUserStatus", "userId");
	});
	var active = {
		searchModel: function(table){
			var key = $("#key").val();
			tableIns.reload({
				where:{key: key}
		  	});
		},
		addModel: function(){
			openDialog('/sys/user/goAdd');
		},
		deleteModel: function(){
			confirm_Delete("/sys/user/deleteByIds", "user_id");
		},
		grantRole: function(data){
			layer.open({
				type: 2,
			  	area: ['500px', '400px'], //宽高
			  	content: '/sys/user/grantRole?id='+data.user_id,
			  	btn: ['保存', '取消'],
			  	btnAlign: 'c',
			  	yes:function(index, layero){
			  		var iframeWin = window[layero.find('iframe')[0]['name']];
			  		iframeWin.saveUserRole();//调用子页面方法
			  	}
			});
		},
		edit: function(data){
			openDialog('/sys/user/userInfoEdit?userId='+data.user_id);
		},
		loadUserPermission(userId){
			//初始化tree(非异步)
			initTree({
				id: "menuTree",
				url: "/sys/user/findPermissionByUserId?userId="+userId,
			});
		}
	}
	</script>

</body>
</html>