<!DOCTYPE html>
<html>
<head>
	<title>安全设置</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
</head>
<body>
	<div>
		<form class="layui-form layui-form-pane">
			<div id="password_div" class="layui-form-item">
				<label class="layui-form-label">原始密码</label>
				<div class="layui-input-inline">
					<input type="password" name="oldPwd" class="layui-input" placeholder="请输入原始密码" autocomplete="new-password"/>
				</div>
			</div>
			<div id="password_div" class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-inline">
					<input type="password" id="password" name="password" class="layui-input" placeholder="请输入新密码" autocomplete="new-password"/>
				</div>
			</div>
			<div id="password_div" class="layui-form-item">
				<label class="layui-form-label">确认密码</label>
				<div class="layui-input-inline">
					<input type="password" id="confirmPwd" class="layui-input" placeholder="请再次输入新密码" autocomplete="new-password"/>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<a id="postBtn" class="layui-btn">保存</a>
					<a class="layui-btn layui-btn-primary" onclick="closeDialog()">取消</a>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		layui.use('form', function() {
			var form = layui.form;
			formSubmit("/sys/user/password");
		});
	</script>
</body>
</html>