<!DOCTYPE html>
<html>
<head>
<title>userInfo</title>
<#include "/common/common.html"/>
<script type="text/javascript">
	$(function(){
		$("#userInfo").DataTable({
			ajax: {
				url:'/air.json',
				data:{}
			},
			columns: [
	            { "data": "userName" },
	            { "data": "password" },
	            { "data": "createTime" }
	        ]
		});		
	})
</script>
</head>
<body>
	<header> </header>
	<table id="userInfo" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>用户名</th>
				<th>创建时间</th>
<!-- 				<th>状态</th> -->
<!-- 				<th>操作</th> -->
			</tr>
		</thead>
	</table>
</body>
</html>