<!DOCTYPE html>
<html>
<head>
	<title>分配菜单列表</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	<link rel="stylesheet" href="/js/lib/zTree/css/zTreeStyle/zTreeStyle.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.excheck.js"></script>
</head>
<body>
	<div class="">
		<div id="menu_div">
			<ul id="menuTree" class="ztree"></ul>
		</div>
		<a id="saveRolePermission" hidden="">保存</a>
	</div>
	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
	layui.use(['form'], function(){
		console.log(parent.parent.$("#key").val());
		var roleId = '${roleId}';
		initTree({
			id: "menuTree",
			url: "/sys/role/findCheckedPermissionByRoleId?roleId="+roleId,
			check: true
		});
	});
	function saveRolePermission(){
		var treeObj = $.fn.zTree.getZTreeObj("menuTree");
		var nodes = treeObj.getCheckedNodes(true);
		var menuIds = [];
		$.each(nodes, function(i, v){
			menuIds.push(v.id);
		})
		console.log(menuIds);
		var roleId = '${roleId}';
		var param = {roleId: roleId, ids: menuIds};
		$.ajax({
			url: "/sys/role/saveRolePermission",
			type: "post",
			data: param,
			success: function(data){
				if(data.code == "ok"){
					parent.layer.msg(data.msg,{icon:1});
				}else{
					parent.layer.msg(data.msg,{icon:0});
				}
				//关闭页面
				closeDialog();
			}
		})
	}
	</script>
	
</body>
</html>