<!DOCTYPE html>
<html>
<head>
	<title>文章信息</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
</head>
<body>
	<div style="">
		<form class="layui-form">
			<input id="id" type="hidden" name="id" value="${(obj.id)!''}"/>
			<div class="layui-form-item">
				<label class="layui-form-label">文章标题</label>
				<div class="layui-input-inline">
					<input type="text" name="title" class="layui-input" placeholder="请输入文章标题" value="${(obj.title)!''}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">文章类型</label>
				<div class="layui-input-inline">
					<select id="type" name="type" lay-search name="type">
						<option value="">请选择文章类型</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">文章内容</label>
				<div class="layui-input-block">
					<textarea id="content" name="content" style="display: none;">${(obj.content)!''}</textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">附件</label>
				<div class="layui-input-inline">
					<a id="file" class="layui-btn">
						<i class="layui-icon layui-icon-upload"></i>附件
					</a>
					<span id='fileName'>${(obj.fileUrl)!''}</span>
					<input type="hidden" id="fileUrl" name="fileUrl" value="${(obj.fileUrl)!''}">
				</div>
			</div>
			<button class="layui-btn layui-hide" lay-submit lay-filter="form-submit">提交</button>
		</form>
	</div>

	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		$(function(){
			queryOptions("type", "/article/articleTypes", "${(obj.type)!''}");
		})
		layui.use(['form', 'upload', 'layedit'], function() {
			var form = layui.form;
			upload = layui.upload;
			layedit = layui.layedit;
			//富文本编辑器
			var index = layedit.build('content', {
				height: 180,
				uploadImage: {
				    url: '/file/upLoad'
				}
			});
			//文件上传
			fileUpload(upload, 'file');//, 'txt|jpg|pdf'
// 			form.render('select');
			var id = "${(obj.id)!''}";
			var url="/article/save";
			if(id != ""){
				url = "/article/update";
			}
			//表单提交
			form.on('submit(form-submit)', function(data){
				var content = layedit.getContent(index);
				data.field.content = content;
// 				layedit.sync(index);
				$.ajax({
					url: url,
					type: "post",
					data: data.field,
					success: function(data){
						if(data.code == "ok"){
							parent.layer.msg(data.msg,{icon:1});
							if(parent.tableIns){
								parent.tableIns.reload();
							}
						}else{
							parent.layer.msg(data.msg,{icon:0});
						}
						//关闭页面
						closeDialog();
					},
					error: function(){
						parent.layer.msg('服务器异常',{icon:5});
						//关闭页面
						closeDialog();
					}
				})
				return false;
			});
		});
	</script>
</body>
</html>