<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
</head>
<body class="layui-layout-body home">
	<div class="login_box">
		<form class="layui-form layui-form-pane" method="post">
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-block">
					<input type="text" name="userName" lay-verify="required" placeholder="请输入用户名" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密码</label>
				<div class="layui-input-block">
					<input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="new-password" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<a id="postBtn" class="layui-btn layui-btn-fluid">登录</a>
			</div>
		</form>
	</div>
	<script>
		$(function(){
			login();
		})
		function login(){
			$("#postBtn").click(function(){
				var param = $("form").serialize();
				$.ajax({
					url:"/login/auth",
					type: "post",
					data: param,
					success:function(data){
						console.log(data);
						window.location.href="/login/main";
					}
				});
			});
		}
	
	</script>

</body>
</html>