/* 去除a标签的下划线 */
body {
}
a {
	text-decoration: none!important;
}
.home {
	background: url('/img/home.jpg') no-repeat fixed;
	background-size: cover;
}
.login_box {
	position: absolute;
	width: 350px;
	height: 200px;
	margin: auto;
	opacity: 0.8;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.header{
	height: 50px;
	background-color: #eee;
}
.fixed-btn{
	position: fixed;
	right: 40px;
	bottom: 50px;
	text-align: center;
}
.fixed-btn a{
	display: block;
	background-color: #eee;
	margin-top: 3px;
}
.fixed-btn a i{
	font-size: 50px;
	color: #1E9FFF;
}
.wechat{
	display: none;
	position: absolute;
	right: 42px;
	bottom: 0;
}
.qrcode:hover .wechat{
	display: block;
}
.file-tree,.file-content{
	border: 1px solid #d5dce5;
	height: 550px;
	overflow: auto;
}
.file-tree{
	width: 20%;
	float: left;
}
.file-content{
	width: 70%;
	margin-left: 10px;
	float: left;
}
.file-code{
	background-color: #eee;
}
.file-code ol{
}
.file-code> li{
	padding: 0 3px 0 10px;
	border-left: 3px solid #6CE26C;
	white-space:nowrap;
	width: 100%;
}
.file-code > .alt{
	background-color: #f8f8f8;
}
