/* 去除a标签的下划线 */
body {
}
a {
	text-decoration: none!important;
}
.layui-card-body{
	overflow: auto;
}
.home {
	background: url('/img/home.jpg') no-repeat fixed;
	background-size: cover;
}
.login_box {
	position: absolute;
	width: 350px;
	height: 200px;
	margin: auto;
	opacity: 0.8;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.header{
	height: 50px;
	background-color: #eee;
}
.fixed-btn{
	position: fixed;
	right: 40px;
	bottom: 50px;
	text-align: center;
	z-index: 999;
}
.fixed-btn a{
	display: block;
	background-color: #eee;
	margin-top: 3px;
}
.fixed-btn a i{
	font-size: 50px;
	color: #1E9FFF;
}
.wechat{
	display: none;
	position: absolute;
	right: 42px;
	bottom: 0;
}
.qrcode:hover .wechat{
	display: block;
}
