<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>首页</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
</head>
<body>
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md6">
			<div class="layui-card">
              <div class="layui-card-header">快捷方式</div>
              <div class="layui-card-body">
                
                <div id="card1" class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="home/homepage1.html">
                          <i class="layui-icon layui-icon-console"></i>
                          <cite>主页一</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="home/homepage2.html">
                          <i class="layui-icon layui-icon-chart"></i>
                          <cite>主页二</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="component/layer/list.html">
                          <i class="layui-icon layui-icon-template-1"></i>
                          <cite>弹层</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a layadmin-event="im">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>聊天</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="component/progress/index.html">
                          <i class="layui-icon layui-icon-find-fill"></i>
                          <cite>进度条</cite>
                        </a>
                      </li>
                      
                    </ul>
                    
                  </div>
                </div>
                
              </div>
            </div>

		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">卡片面板</div>
				<div class="layui-card-body">
					<div class="layui-carousel" id="test1">
						<div carousel-item>
							<div>
								<img src="/js/lib/layui/images/face/0.gif">
							</div>
							<div>
								<img src="/js/lib/layui/images/face/1.gif">
							</div>
							<div>
								<img src="/js/lib/layui/images/face/2.gif">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-header">
			卡片面板
		</div>
		<div class="layui-card-body">
		<div class="">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">选择</label>
					<div class="layui-input-inline">
						<select lay-search>
							<option>北京</option>
							<option>上海</option>
							<option>西安</option>
							<option>广州</option>
							<option>深圳</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">日期</label>
					<div class="layui-input-inline">
						<input id="createDate" class="layui-input" type="text" />
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">文件</label>
				<div class="layui-input-block">
					<a id="uploadBtn" class="layui-btn"><i class="layui-icon layui-icon-upload"></i> 上传</a> 
					<a id="textBtn" class="layui-btn">文本</a>
					<a id="testLoading" class="layui-btn">testLoading</a>
					<div class="layui-progress layui-progress-big" lay-filter="demo" lay-showPercent="true">
					  <div class="layui-progress-bar" lay-percent="0%"></div>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">文字</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea" id="LAY_demo1"></textarea>
				</div>
			</div>
		</form>
	</div>
		</div>
	</div>
	
	<script>
		layui.use([ 'laydate', 'form', 'layedit', 'upload', 'carousel' ,'element'], function() {
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var upload = layui.upload;
			var carousel = layui.carousel;
			var element = layui.element;
			 /*  //建造实例
			  carousel.render({
			    elem: '#test1',
			    width: '100%', //设置容器宽度
			    trigger: 'hover',
// 			    arrow: 'always', //始终显示箭头
			    anim: 'fade' //切换动画方式
			  });
			  carousel.render({
				    elem: '#card1',
				    width: '100%', //设置容器宽度
				    trigger: 'hover',
//	 			    arrow: 'always', //始终显示箭头
				    anim: 'fade' //切换动画方式
				  }); */
			var uploadInst = upload.render({
			    elem: '#uploadBtn' //绑定元素
			    ,url: '/file/upLoad' //上传接口
			    ,acceptMime:'image/*'
			    ,done: function(res, index, upload){
			      console.log(res);
			    }
			    ,error: function(e){
			    	console.log(e);
			      //请求异常回调
			    }
			  });
			//构建一个默认的编辑器
			var index = layedit.build('LAY_demo1',{
				height: 180,
				uploadImage: {
				    url: '/file/upLoad'
				}
			});
			
			laydate.render({
				elem : '#createDate',
				type : 'datetime',
				format : 'yyyy-MM-dd HH:mm:ss',
				value : new Date(),
				max : 7,
				calendar : true,
				done : function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date);
				}
			});
			$('.layui-btn').on('click', function(){
			    var method = this.id;
		  	  	active[method] ? active[method].call(this) : '';
			  });
			var active = {
					textBtn : function() {
						layedit.sync(index);
						var content = $('#LAY_demo1').val();
// 						alert(layedit.getContent(index));
						alert(content);
					},
					testLoading : function(othis) {
						//模拟loading
						var n = 0, timer = setInterval(function() {
							n = n + Math.random() * 10 | 0;
							if (n > 100) {
								n = 100;
								clearInterval(timer);
								othis.removeClass(DISABLED);
							}
							element.progress('demo', n + '%');
						}, 300 + Math.random() * 1000);

					}
				};
		});
		
		
	</script>
</body>
</html>