<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>首页</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
	<style type="text/css">
		.upload-img{
			width: 92px;
		    height: 92px;
		    margin: 0 10px 10px 0;
		}
	</style>
</head>
<body style="padding: 15px">
	<div class="layui-card">
		<div class="layui-card-header">
			卡片面板
		</div>
		<div class="layui-card-body">
		<div class="">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">选择</label>
					<div class="layui-input-inline">
						<select lay-search>
							<option>北京</option>
							<option>上海</option>
							<option>西安</option>
							<option>广州</option>
							<option>深圳</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">日期</label>
					<div class="layui-input-inline">
						<input id="createDate" class="layui-input" type="text" />
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-form-label">
					<button type="button" class="layui-btn" id="test1">上传图片</button>
				</div>
				<div class="layui-upload-list">
				    <img class="upload-img" id="demo1">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">文件</label>
				<div class="layui-input-block">
					<div class="layui-upload-drag" id="test10">
					  <i class="layui-icon"></i>
					  <p>点击上传，或将文件拖拽到此处</p>
					</div> 
					<div class="layui-upload-list">
					    <table class="layui-table">
					      <thead>
					        <tr><th>文件名</th>
					        <th>大小</th>
					        <th>状态</th>
					        <th>操作</th>
					      </tr></thead>
					      <tbody id="fileList"></tbody>
					    </table>
					  </div>
					<a id="uploadBtn" class="layui-btn"><i class="layui-icon layui-icon-upload"></i> 上传</a>
					<a id="textBtn" class="layui-btn">文本</a>
					<a id="testLoading" class="layui-btn">testLoading</a>
					<div class="layui-progress layui-progress-big" lay-filter="demo" lay-showPercent="true">
					  <div class="layui-progress-bar" lay-percent="0%"></div>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">文字</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea" id="LAY_demo1"></textarea>
				</div>
			</div>
		</form>
	</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		layui.use([ 'laydate', 'form', 'layedit', 'upload', 'carousel' ,'element'], function() {
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var upload = layui.upload;
			var carousel = layui.carousel;
			var element = layui.element;
			 /*  //建造实例
			  carousel.render({
			    elem: '#test1',
			    width: '100%', //设置容器宽度
			    trigger: 'hover',
// 			    arrow: 'always', //始终显示箭头
			    anim: 'fade' //切换动画方式
			  });
			  carousel.render({
				    elem: '#card1',
				    width: '100%', //设置容器宽度
				    trigger: 'hover',
//	 			    arrow: 'always', //始终显示箭头
				    anim: 'fade' //切换动画方式
				  }); */
				//普通图片上传
				  var uploadInst = upload.render({
				    elem: '#test1'
				    ,url: '/upload/'
				    ,before: function(obj){
				      //预读本地文件示例，不支持ie8
				      obj.preview(function(index, file, result){
				        $('#demo1').attr('src', result); //图片链接（base64）
				      });
				    }
				    ,done: function(res){
				      //如果上传失败
				      if(res.code > 0){
				        return layer.msg('上传失败');
				      }
				      //上传成功
				    }
				    ,error: function(){
				    	layer.msg('上传失败');
				    }
				  });
			fileUpload(upload, "test10", "fileList", "xls|xlsx|zip");
			//构建一个默认的编辑器
			var index = layedit.build('LAY_demo1',{
				height: 180,
				uploadImage: {
				    url: '/file/upLoad'
				}
			});
			
			laydate.render({
				elem : '#createDate',
				type : 'datetime',
				format : 'yyyy-MM-dd HH:mm:ss',
				value : new Date(),
				max : 7,
				calendar : true,
				done : function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date);
				}
			});
			$('.layui-btn').on('click', function(){
			    var method = this.id;
		  	  	active[method] ? active[method].call(this) : '';
			  });
			var active = {
					textBtn : function() {
						layedit.sync(index);
						var content = $('#LAY_demo1').val();
// 						alert(layedit.getContent(index));
						alert(content);
					},
					testLoading : function(othis) {
						//模拟loading
						var n = 0, timer = setInterval(function() {
							n = n + Math.random() * 10 | 0;
							if (n > 100) {
								n = 100;
								clearInterval(timer);
								othis.removeClass(DISABLED);
							}
							element.progress('demo', n + '%');
						}, 300 + Math.random() * 1000);

					}
				};
		});
		
		
	</script>
</body>
</html>