<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>web-demo</title>
<#include "/common/common.html"/>
</head>

<body>
	<!-- 导航 -->
	<div class="header">
		<div class="top_right">
			<a href="javascript:;"><i class="iconfont icon-USD iconfont-rotate"></i></a>
			欢迎您，, 今天是<span id="currentTime"">${data}</span>
			<a class="top_mulu" href="javascript:;"><i class="iconfont icon-mulu"></i></a>
			<ul class="mulu_menu">
				<li><a href="/login">登录</a></li>
				<li><a href="javascript:;">注册</a></li>
				<li><a href="javascript:;">建议留言</a></li>
			</ul>
		</div>
	</div>
	<!-- 内容 -->
	<div class="content">
	</div>
	

    <!-- 左下角按钮 -->
    <div class="fixed-btn">
		<a class="go-top" href="javascript:window.scroll(0,0);" title="返回顶部"><i class="iconfont icon-top"></i></a>
		<a class="qrcode" href="javascript:;" title="关注我"><i class="iconfont icon-erweima"></i></a>
		<div class="zf-icon">
			<img alt="微信支付" src="/img/wxzf.jpg">
			<img alt="支付宝支付" src="/img/zfbzf.jpg">
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer">
	    <div class="footer-bar">
	    	Copyright © 2017-2217 <a href="https://localhost:80/" target="_blank">网站</a>由 张攀 提供.All Rights Reserved
	    	<a href="https://www.baidu.com/" target="_blank">百度</a>
	    	<a href="https://github.com/zpzxcvb/SSHWeb" target="_blank">GIT</a>
	    	<a href="mailto:527517062@qq.com">Email</a>
	    </div>
		<span>
			<i class="iconfont icon-xiaolian"></i>备案号：京ICP备10000号-1
			<input id="color" type="color" name="color" > <input id="choose_color" type="text" value="#000000" readonly="readonly" style="border: 0"/>
		</span>
    </div>
</body>
</html>