<!DOCTYPE HTML>
<html>
<head>
<title>web-demo</title>
<!-- <link rel="stylesheet" href="css/style.css" /> -->

<script type="text/javascript" src="js/lib/require.js"></script>
<script src="js/require-config.js"></script>
<script type="text/javascript">
	require(["jquery","bootstrap","myjs"],function($){
   		console.log("加载成功");
    });
</script>
</head>

<body>
	<!-- 导航 -->
	<#include "/common/header.html"/>
	
	<!-- 内容 -->
	<div class="main-content">
		
	</div>

	<!-- 底部 -->
	<#include "/common/footer.html"/>
</body>
</html>