<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>后台</title>
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
	<style type="text/css">
		.layui-tab-title li:first-child .layui-tab-close {
			display: none;
		}
	</style>
	
	<script type="text/javascript">
		$(function(){
			setInterval(() => {
				$("#currentTime").text(new Date().toLocaleString()+" 星期"+"日一二三四五六".charAt(new Date().getDay()));
			}, 1000);
		})
	</script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台</div>
    <ul class="layui-nav layui-layout-right">
    	<li class="layui-nav-item">
    		<a href="javascript:;">
	        	<i class="layui-icon layui-icon-notice" title="通知"><span class="layui-badge">99</span></i>
	        </a>
    	</li>
    	<li class="layui-nav-item">
    		<a href="javascript:;">
	        	<span id="currentTime"/>
	        </a>
    	</li>
      	<li class="layui-nav-item">
	        <a href="javascript:;">
	        	您好,<span id="username">${nickName!userName}</span>
	          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
	        </a>
	        <ul class="layui-nav-child">
	          <li><a onclick="userInfo()" href="javascript:;">基本资料</a></dd>
	          <li><a onclick="safeConfig()" href="javascript:;">安全设置</a></dd>
	        </ul>
      	</li>
      	<li class="layui-nav-item"><a href="/logout">注销</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
     <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree" lay-filter="nav-tree">
        	<li class="layui-nav-item layui-this">
        		<a id="0" href="javascript:;">
				    <i class='layui-icon layui-icon-home'></i>
					<span>首页</span>
				</a>
        	</li>
      		<#if (menuList?? && menuList?size > 0)>
      			<#list menuList as menu>
					<li class="layui-nav-item">
						<#macro treeMenu menus>
							<#if (menus?? && menus?size > 0)>
								<a href="javascript:;">${menus.menuName}</a>
								<ul class="layui-nav-child">
									<#list menus.childList as childMenu>
										<li>
											<#if (childMenu.url != "")>
												<a id="${childMenu.id}" href="javascript:;" url="${childMenu.url}">${childMenu.menuName}</a>
											<#else>
												<@treeMenu menus = childMenu/>
											</#if>
										</li>
									</#list>
								</ul>
							</#if>
						</#macro>
						<@treeMenu menus = menu/>
					</li>
				</#list>
      		</#if>
        </ul>
     </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-brief" lay-filter="tabs" lay-allowClose="true">
        <ul class="layui-tab-title">
        </ul>
        <div class="layui-tab-content"/>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    <div class="footer-bar">
    	Copyright ©2018 <a href="#" target="_blank">网站</a>由 zp 提供.All Rights Reserved
    	<a href="https://www.baidu.com/" target="_blank">百度</a>
    	<a href="https://github.com/zpzxcvb/webDemo" target="_blank">Git</a>
    	<a href="mailto:527517062@qq.com">Email</a>
    </div>
	<span>
		<i class="iconfont icon-xiaolian"></i>备案号：京ICP备10000号-1
		<input id="color" type="color" name="color" /> 
		<input id="choose_color" type="text" value="#000000" readonly="readonly" style="border: 0"/>
	</span>
  </div>
  <!-- 左下角按钮 -->
	<div class="fixed-btn">
		<ul>
			<li>
				<a class="go-top" href="javascript:window.scroll(0,0);" title="返回顶部">
					<i class="layui-icon layui-icon-top"></i>
				</a>
			</li>
			<li>
				<a class="qrcode" href="javascript:;" title="关注我">
					<i class="layui-icon layui-icon-login-wechat"></i>
					<div class="wechat">
						<img alt="关注我" src="/img/me_wechat.jpg" width="250" height="250">
					</div>
				</a>
			</li>
		</ul>
		
		
	</div>
</div>
<script type="text/javascript" src="/js/myjs.js"></script>
<script>
var table;
layui.use(['element','table'], function(){
	var element = layui.element;
	table = layui.table;
	var tabId="tabs";
	$(".layui-nav-tree > li:first").addClass("layui-nav-itemed");
	//监听左侧菜单addTab
	element.on('nav(nav-tree)',function(data){
	    var id = data[0].id;
	    if(id == ""){
	    	return false;
	    }
	    var url = data[0].getAttribute("url");
	    var title = data[0].text;
	    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
		$.each($(".layui-tab-title li[lay-id]"), function () {
		    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
		    if ($(this).attr("lay-id") == id) {
		        isData = true;
		        return false;
		    }
		});
		if (!isData) {
			active.tabAdd(url, id, title);
		}
		active.tabChange(id); ////切换到指定id的Tab项
	});
	//触发事件
	var active = {
	    //在这里给active绑定几项事件，后面可通过active调用这些事件
	    tabAdd: function(url,id,title) {
	        //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
	        element.tabAdd(tabId, {
	            title: title,
	            content: '<iframe src="'+url+'" frameborder="1" style="position:absolute; height:100%; width:100%; border:0;"></iframe>',
	            id: id //规定好的id
	        })
	    },
	    tabChange: function(id) {
	        element.tabChange(tabId, id); ////切换到指定id的Tab项
	    }, 
	    tabDelete: function (id) {
	    	element.tabDelete(tabId, id);//删除
	    }, 
	    tabDeleteAll: function (ids) {//删除所有
	        $.each(ids, function (i,item) {
	            element.tabDelete(tabId, item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
	        })
	    }
	};
	//addTab首页
	active.tabAdd("/home", "0", "<i class='layui-icon layui-icon-home' title='首页'> 首页</i>");
	active.tabChange("0"); //切换到指定id的Tab项
});
function safeConfig(){
	dialog('/sys/user/safeConfig');
}
function userInfo(){
	dialog('/sys/user/userInfoEdit');
}
function dialog(url){
	layer.open({
		type: 2,
	  	area: ['400px', '400px'], //宽高
	  	content: url
	});
}
</script>
</body>
</html>