<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>test</title>
<script src="../static/js/lib/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/lib/echarts4/echarts.min.js"></script>
<style type="text/css">
	.filter{
		border: 1px solid red;
		width: 200px;
		display: none;
	}
	.filter ul{
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
		width: 200px;
		/*display: list-item;*/
	}
	.filter ul li:hover{
		background: red;
	}
	.input{
		width: 200px;
	}
</style>
<script type="text/javascript">
	$(function(){
		$('li span').click(function(){
			var text = $(this).text()
			$("#text").val(text);
			$(".filter").hide();
		})
		initChart1();
		initChart2();
	})
	function test(){
		$(".filter").show();
	}
	function hide(){
	}
	function initChart1(){
		// 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main1'));
         // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
            },
            xAxis: {type: 'category'
                /*data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]*/
            },
            yAxis: {},
            dataset:{
            	source:[
            		['product', '销量', '价格','进价'],
            ['衬衫', 43.3, 85.8, 93.7],
            ['羊毛衫', 83.1, 73.4, 55.1],
            ['高跟鞋', 72.4, 53.9, 39.1]
            	]
            },
            series: [{type: 'bar'},{type: 'bar'},
            		{type: 'bar'}]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
	}
	function initChart2(){
		// 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));
         // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {
            	trigger:'axis'
            },
            legend: {
            },
            xAxis: {
                data: ["衬衫","羊毛衫","高跟鞋"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
	}
</script>
</head>
<body>


<div>
	<div id="main1" style="width: 600px;height:400px;"></div>
	<div id="main2" style="width: 600px;height:400px;"></div>
	<input id="text" class="input" type="text" onclick="test()" onblur="hide()"/>
	<div class="filter">
		<ul>
			<li text="aaaaa"><span>aaaaaaaa</span></li>
			<li text="bbbbb"><span>bbbbbbbb</span></li>
			<li text="ccccc"><span>cccccccccc</span></li>
		</ul>
	</div>
</div>

</body>
</html>