<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> scanProjects </title>
<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/js/lib/zTree/css/zTreeStyle/zTreeStyle.css">

<script src="/js/lib/layui/layui.js"></script>
<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/js/tree.js"></script>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
		        <h3 class="panel-title">
		           	 项目工作区
		        </h3>
		    </div>
			<div class="panel-body">
				<div class="panel panel-default file-tree">
					<div class="panel-body">
						<ul id="tree" class="ztree">
						</ul>
					</div>
				</div>
				<div class="panel panel-default file-content">
					<div class="file-code">
						<pre class="layui-code" lay-title="" lay-height="" lay-about="" lay-encode="true" lay-skin="">
						</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		layui.use(['code'], function() { //加载code模块
			initTree({
				id:"tree",
				async:true,
				url:"/file/scanProjects"
			});
			layui.code({about: false}); //引用code方法
		});
		
	</script>
</body>
</html>