<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> scanProjects </title>
<#include "/common/common.html"/>
<script type="text/javascript" src="/js/tree.js"></script>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
		        <h3 class="panel-title">
		           	 项目工作区
		        </h3>
		    </div>
			<div class="panel-body">
				<div class="panel panel-default file-tree">
					<div class="panel-body">
						<ul id="orgTree" class="ztree">
						</ul>
					</div>
				</div>
				<div class="panel panel-default file-content">
					<div class="panel-body">
						<div class="file-code">
							<b>[java code]</b>
							<ol>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>