<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpan.dao.sys.SysDictTypeDao">

  <select id="findById" parameterType="int" resultType="SysDictType">
  	select * from sys_dict_type where id = #{id}
  </select>
  
  <select id="findList" parameterType="map" resultType="SysDictType">
  	select * from sys_dict_type
  	where 1=1
  	<if test="dictName != null">
		and dict_name = #{dictName}
	</if>
  </select>
  
  <insert id="save" parameterType="SysDictType">
  	insert into sys_dict_type
  		(dict_name,dict_code,description)
  	values
  		(#{dictName},#{dictCode},#{description})
  </insert>
  
  <delete id="deleteById" parameterType="int">
  	delete from sys_dict_type 
  	where
  	id = #{id}
  </delete>
  
  <update id="update" parameterType="SysDictType">
  	update sys_dict_type
  	<set>
  		<if test="dictName != null">
  			dict_name=#{dictName},
  		</if>
  	</set>
	where id = #{id}
  </update>
  
  <select id="findDictTypes" parameterType="map" resultType="map">
  	select id, dict_name as name, dict_code, '0' as pid, description from sys_dict_type
  </select>
  
  <select id="checkTypeCode" parameterType="string" resultType="int">
  	select count(*) from sys_dict_type
  	where dict_code = #{dictCode}
  </select>
</mapper>