<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpan.dao.sys.SysRoleDao">

  <select id="findById" parameterType="int" resultType="SysRole">
  	select * from sys_role where role_id = #{roleId}
  </select>
  
  <select id="findPage" parameterType="map" resultType="SysRole">
  	select * from sys_role
  	where 1=1
  	<if test="key != null">
		<bind name="pattern" value="'%' + key + '%'" />
		and role_name like #{pattern}
	</if>
	order by create_time desc
  </select>
  
  <insert id="save" parameterType="SysRole">
  	insert into sys_role
  		(role_name,description,create_time)
  	values
  		(#{roleName},#{description},#{createTime})
  </insert>
  
  <delete id="deleteByIds" parameterType="int">
  	delete from sys_role 
  	where
  	<choose>
		<when test="array.length == 1">
			role_id = #{array[0]}
		</when>
		<otherwise>
			role_id in
			<foreach collection="array" item="item" open="(" separator="," close=")" >
				#{item}
			</foreach>
		</otherwise>
	</choose>
  </delete>
  
  <update id="update" parameterType="SysRole">
  	update sys_role
  	<set>
  		<if test="roleName != null">
  			role_name=#{roleName},
  		</if>
  		<if test="description != null">
			description = #{description},
		</if>
  	</set>
	where role_id = #{roleId}
  </update>
  
  <!-- 根据角色Id查询用户 -->
  <select id="findUserByRoleId" parameterType="int" resultType="map">
  	select user_id,user_name,status from sys_user 
  	where
  	user_id in(
		select b.user_id from sys_role a,sys_user_role b 
		where 
		a.role_id=b.role_id
		and a.role_id = #{roleId}
	)
  </select>
  
	<!-- 根据角色Id查询权限 -->
	<select id="findPermissionByRoleId" parameterType="int" resultType="map">
		select b.id,pid,menu_name as name from sys_role_permission a,sys_menu b 
		where a.permission_id = b.id
		and a.role_id = #{roleId}
	</select>
	
	<!-- 根据角色Id查询已选权限 -->
	<select id="findCheckedPermissionByRoleId" parameterType="int" resultType="map">
		select t.permission_id,b.id,b.pid,b.menu_name as name 
		from (
				select * from sys_role_permission a 
				where a.role_id=#{roleId}
			) t
		right join 
		sys_menu b 
		on t.permission_id = b.id
	</select>
</mapper>