<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpan.dao.sys.SysRoleDao">

  <select id="findById" parameterType="int" resultType="SysRole">
  	select * from sys_role where role_id = #{roleId}
  </select>
  
  <select id="findPage" parameterType="map" resultType="SysRole">
  	select * from sys_role
  	where 1=1
  	<if test="key != null">
		<bind name="pattern" value="'%' + key + '%'" />
		and role_name like #{pattern}
	</if>
  </select>
  
  <select id="findList" parameterType="map" resultType="SysRole">
  	select * from sys_role
  	where 1=1
  	<if test="roleName != null">
		and role_name = #{roleName}
	</if>
  </select>
  
  <insert id="save" parameterType="SysRole">
  	insert into sys_role
  		(role_name,create_time)
  	values
  		(#{roleName},#{createTime})
  </insert>
  
  <delete id="deleteByIds" parameterType="int">
  	delete from sys_role 
  	where
  	<choose>
		<when test="array.length == 1">
			role_id = #{array[0]}
		</when>
		<otherwise>
			role_id in
			<foreach collection="array" item="item" open="(" separator="," close=")" >
				#{item}
			</foreach>
		</otherwise>
	</choose>
  </delete>
  
  <update id="update" parameterType="SysRole">
  	update sys_role
  	<set>
  		<if test="roleName != null">
  			role_name=#{roleName},
  		</if>
  	</set>
	where role_id = #{roleId}
  </update>
</mapper>