<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpan.dao.sys.SysRolePermissionDao">
	
	<select id="findList" parameterType="map" resultType="SysRolePermission">
  		select * from sys_role_permission where role_id = #{roleId}
  	</select>

	<!-- 批量保存角色权限关系 -->
	<insert id="batchSave" parameterType="map">
	  	insert into sys_role_permission
	  		(role_id,permission_id)
	  	values
	  	<foreach collection="ids" item="item" index="index" separator="," >
	  		(#{roleId},#{item})
	  	</foreach>
	</insert>
	
	<!-- 根据角色id删除角色权限关系 -->
	<delete id="deleteRolePermissionByRoleId" parameterType="int">
	  	delete from sys_role_permission
	  	where role_id=#{roleId}
	</delete>
</mapper>