<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpan.dao.sys.SysUserRoleDao">

	<!-- 批量保存用户角色关系 -->
	<insert id="batchSave" parameterType="map">
	  	insert into sys_user_role
	  		(user_id,role_id)
	  	values
	  	<foreach collection="ids" item="item" index="index" separator="," >
	  		(#{userId},#{item})
	  	</foreach>
	</insert>
</mapper>