<!DOCTYPE html>
<html>
<head>
	<title>字典信息</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	<link rel="stylesheet" href="/js/lib/zTree/css/zTreeStyle/zTreeStyle.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.core.js"></script>
</head>
<body>
	<div>
		<form class="layui-form layui-form-pane">
			<input id="id" type="hidden" name="id" value="${(item.id)!''}"/>
			<div class="layui-form-item">
				<label class="layui-form-label">字典类型</label>
				<div class="layui-input-inline">
					<input type="text" name="dictType" value="${dictType}" readonly="readonly"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">字典名称</label>
				<div class="layui-input-inline">
					<input type="text" name="dictName" class="layui-input" placeholder="请输入字典名称" value="${(item.dictName)!''}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">字典编码</label>
				<div class="layui-input-inline">
					<input type="text" id="dictCode" name="dictCode" class="layui-input" placeholder="请输入字典编码" value="${(item.dictCode)!''}"/>
						
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-inline">
					<input type="text" name="remark" class="layui-input" placeholder="请输入备注信息" value="${(item.remark)!''}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<a id="postBtn" class="layui-btn">保存</a>
					<a class="layui-btn layui-btn-primary" onclick="closeDialog()">取消</a>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		layui.use(['form'], function() {
			var form = layui.form;
		});

		$(function() {
			var id = "${(item.id)!''}";
			var url="/sys/dict/item/save";
			if(id != ""){
				url = "/sys/dict/item/update";
				$("#dictCode").attr("readonly",true);
			}
			formSubmit(url);
		})
	</script>
</body>
</html>