<!DOCTYPE html>
<html>
<head>
	<title>字典信息列表</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	<link rel="stylesheet" href="/js/lib/zTree/css/zTreeStyle/zTreeStyle.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/lib/zTree/jquery.ztree.core.js"></script>
</head>
<body style="padding: 15px">
	<div class="layui-col-md2">
		<a id="addType" class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-add-1"></i> 添加</a>
		<a id="deleteType" class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon layui-icon-delete"></i> 删除</a>
		<ul id="menuTree" class="ztree"></ul>
	</div>
	<div class="layui-col-md10">
		<div class="layui-card">
			<div class="layui-card-header">
				<div class="layui-inline table-search">
					<div class="layui-input-inline">
			    		<input class="layui-input" id="key" type="search" placeholder="请输入字典名称">
			    	</div>
			    	<a id="searchModel" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i> 查询</a>
			  	</div>
			</div>
			<div class="layui-card-body">
				<div class="">
					<a id="addModel" class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>添加</a>
					<a id="deleteModel" class="layui-btn layui-btn-danger"><i class="layui-icon layui-icon-delete"></i>批量删除</a>
				</div>
				<table id="table" lay-filter="table_event"></table>
			</div>
		</div>
	</div>
	<script type="text/html" id="rowbarTpl">
		<a title="编辑" class="layui-btn layui-btn-xs" lay-event="editModel"><i class="layui-icon layui-icon-edit"></i></a>
	</script>
	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
	var table,tableIns,dictType,typeId;
	function initTable(table){
		var params = {
			 id: "#table",
			 url: "/sys/dict/item/pageList",
			 columns: [
		    	{type: 'checkbox', fixed: 'left'},
		      	{type: 'numbers', title: '序号', fixed: 'left'},
		      	{field: 'dict_name', title: '字典名称'},
		      	{field: 'dict_code', title: '字典编码'},
		      	{field: 'type', title: '字典类型'},
		      	{field: 'description', title: '描述'},
		      	{fixed: 'right', title:'操作', fixed: 'right', toolbar: '#rowbarTpl'}
		    ]
		};
		tableIns = table_layui(table, params);
	}
	//初始化tree(非异步)
	function initDictType(){
		initTree({
			id: "menuTree",
			async: false,
			check: false,
			url: "/sys/dict/type/findList"
		});
	}
	layui.use('table', function(){
		table = layui.table;
		initDictType();
		//初始化table
		initTable(table);
		//监听按钮事件
		initFunction();
	});
	var active = {
		addType: function(){
			openDialog('/sys/dict/type/goAddDictType');
		},
		deleteType: function(){
			layer.confirm('您确定要删除操作吗?', {icon: 3}, function(index){
				$.ajax({
					url: "/sys/dict/type/deleteById",
					type: "post",
					data: {id:typeId},
					success: function(data){
						if(data.code == "ok"){
							layer.msg("删除成功",{icon:1});
							layer.close(index);
							initDictType();
						}else{
							layer.msg("操作失败",{icon:0});
						}
					}
				});
			});
		},
		searchModel: function(){
			var key = $("#key").val();
			tableIns.reload({
				where:{key: key}
		  	});
		},
		addModel: function(){
			if(!dictType){
				layer.msg("请选择左侧字典类型",{icon:0});
				return false;
			}
			openDialog('/sys/dict/item/saveOrUpdate?dictType='+dictType);
		},
		deleteModel: function(){
			confirm_Delete("/sys/dict/item/deleteByIds", "id");
		},
		editModel: function(data){
			openDialog('/sys/dict/item/saveOrUpdate?id='+data.id);
		}
	}
	function zTreeClick(event, treeId, treeNode) {
		typeId = treeNode.id;
		dictType = treeNode.dict_code;
		layer.tips(treeNode.description, "#"+treeNode.tId+"_span");
		tableIns.reload({
			where:{
				dictType: dictType
			}
	  	});
	}
	</script>
</body>
</html>