<!DOCTYPE html>
<html>
<head>
	<title>用户信息</title>
	<link rel="stylesheet" href="/js/lib/layui/css/layui.css">
	
	<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js"></script>
	<script src="/js/lib/layui/layui.js"></script>
</head>
<body>
	<div>
		<form class="layui-form" lay-filter="userInfo">
			<input type="hidden" name="id" id="id"/>
			<input type="hidden" name="userId" value="${userId}"/>
			<div class="layui-form-item">
				<label class="layui-form-label">昵称</label>
				<div class="layui-input-inline">
					<input type="text" name="nickName" class="layui-input" placeholder="请输入昵称" autocomplete="off"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">真实姓名</label>
				<div class="layui-input-inline">
					<input type="text" name="realName" class="layui-input" placeholder="请输入真实姓名" autocomplete="off"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别</label>
				<div class="layui-input-inline">
					<input type="radio" name="sex" value="0" title="男"/>
					<input type="radio" name="sex" value="1"  title="女"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系电话</label>
				<div class="layui-input-inline">
					<input type="text" name="phone" lay-verify="aaa" class="layui-input" placeholder="请输入联系电话" autocomplete="off"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">邮箱</label>
				<div class="layui-input-inline">
					<input type="text" name="email" class="layui-input" placeholder="请输入邮箱地址" autocomplete="off"/>
				</div>
			</div>
			<button class="layui-btn layui-hide" lay-submit lay-filter="form-submit">提交</button>
		</form>
	</div>
	<script type="text/javascript" src="/js/myjs.js"></script>
	<script>
		layui.use(['form'], function() {
			var form = layui.form;
			//修改表单时赋值
			loadFormValue(form, 'userInfo', '/sys/user/userInfoByUserId');
			//表单验证
			form.verify({
				aaa:function(value, item){
					if(value.length<3){
						return "不能少于3wei";
					}
				}
			})
			//表单提交
			formSubmit(form,'/sys/user/saveUserInfo', 'form-submit');
		});
	</script>
</body>
</html>